

.btnBuy{    
    width: 90%;    
    margin: 4% 5%;    
}

.btnDetail {
    margin: 1% 12%;
    color: #2c7499;
}

.formContainer{    
    
    width: 100%;
    background-color: #f0f0f0;
    margin: auto;
    padding: 16px;
    box-shadow: 3px 4px 9px #37474f78;   
}

.finishContainer{    
    width: 100%;
    background-color: #f0f0f0;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 4px 9px #37474f78;
    height: 213px;
    flex-direction: column;
    justify-content: center;
}


input{  
    height: 2rem !important;
}

.textInfo{
    text-align: center;
    color: #525252;
}

.btnSubmit{
    width: 90%;
    margin: 4% 5%;
}

