h2{
    font-size: 2em;
    margin: 6%;
    text-align: left;
}

h3{
    color: #32373a;
}

h5{
    text-align: center;
}
/* text-shadow: 1px 1px 4px #000000; */
.btngocart{
    width: 255px;
    margin-bottom: 0px;
    margin-top: 21px;
    margin-bottom: 21px;
}

a {
    color: white;
    display: inline-block;
 
}

.extendedName-text{
    width: 40em;
}

.frontProduct{
    background: radial-gradient(circle, rgba(25,48,59,1) 0%, rgba(19,28,33,1) 100%);
    padding: 6%;
}

.material-icons {
    color: white;
    font-size: 11px;
}

.frontTitle{

    font-size: 3em;
  
    text-align: left;
    margin: 0;
    color: white;
    
}

.extendedDescriptionContainer{
    background-image: url(https://i.postimg.cc/Gm97SJtf/3d-science-modern-network-communications-background.jpg);
    padding: 2%;
    background-color: #3e3e3e;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.extendedDescriptionContainer div{
    margin: 3%;
    background: #0000008a;
    padding: 1%;
}


.mainDetails{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.extendedDescription-text{
    margin: 3% 7%;
    text-align: center;
    color: white;
}

.imgProductDetail{
   
    margin: 2% 0%;
    cursor: zoom-in;
  transition: all 0.3s ease-in-out !important;
}

.imgProductDetail:active{
    transform: scale(1.1);
    
}

.anotherContainer{
    margin: 4% auto;
    display: flex;
    flex-direction: revert;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.anotherContainer img{
    width: 36em;
    box-shadow: 3px 4px 10px #6d6d6deb;
  
}

.anotherContainer div{
    width: 36em;
    margin: 2em;
}


.btnMore {
    color: #525252;
    margin: 0% 25%;
}