.greetingBackground {
    background-image: url(https://i.postimg.cc/Y0yfPfZD/cosmic-background-with-dark-and-light-blue-laser-lights-perfect-for-digital-wallpaper.jpg);
    background-color: #3e3e3e;
    height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.greetingContainer{
    width: 28em;
    background-color: #020a1599;
    height: 20em;
    margin-left: 4%;
    padding-top: 4%;
}

.greeting{
    color: #ffffff;
    text-align: left;
    font-weight: 300;
    font-size: 4em;
    margin: auto;
    padding: 3% 9%;

}

.greetingTwo{
    font-weight: 300;
    margin: 0%;
    color: white;
    padding: 0% 10%;
}

.greetingThree{
    color: #ffffff;
    background-color: #020a15d1;
    text-align: center;
    margin: 4% 4%;
    text-align: left;
    font-weight: 350;
    font-size: 1em;
    padding: 3% 7%;
}

.imgBannerPago{
    box-shadow: 3px 4px 10px #6d6d6deb;
}

.imgBannerPagoTwo{
    box-shadow: 3px 4px 10px #6d6d6deb;
    display: none;
}

.bannerContainer{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}


@media only screen and (max-width: 412px) {
  
    h5{
        margin: 0px !important;
    }

    h3 {
        
        margin: 5% 1%;        ;
        font-weight: 500;
        font-size: 24PX;
    }

    .priceHome {
        font-size: 12px;
    }
    .greetingContainer {
        width: 26em;
        background-color: #020a1599;
        height: 20em;
        margin-left: 6%;
        padding-top: 12%;
    }

    .itemContainer {
        width: 194px;

    }

    .textHeight {
        height: 18em;
  
    }

    .imgBannerPago{
        box-shadow: 3px 4px 10px #6d6d6deb;
        display: none;
    }
    
    .imgBannerPagoTwo{
        box-shadow: 3px 4px 10px #6d6d6deb;
        display: block;
    }

    .bannerContainer {
   
        margin: 29px 6px;
    }
}

@media only screen and (max-width: 360px) {
    .greetingTwo {
        font-weight: 100;
    }

    .greeting {
        font-size: 3em;
    }

    .greetingContainer {
    
        margin-left: 0%;
    }

    .itemContainer {
        width: 169px;
    }

    
    .textHeight {
        height: 19em;
        text-align: justify;
    }
}