h4{
    font-weight: 350;  
    font-size: 25px;
  
    padding: 1.52rem 0 0.912rem 0;
    margin: 0rem;
}

h5{
    font-size: 23px;
    font-weight: 350;
}


.textHeight{       height: 9em; font-size: 11px;}

.descriptionContainer{
    background-color: white;
    padding: 0% 5%;
}

.priceHome{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.estrellas{
    width: 6em;
}

.itemContainer{
    width: 343px;
    margin: 1%;
    border: 1px solid #b2b2b2c2!important;
    /* box-shadow: 2px -1px 11px #add8e680; */
}

.img-Container{
    border-bottom: 1px solid #b2b2b2c2!important;
    background-color: whitesmoke;
}

.btnVerMas{
    margin: 5% 0%;
}



