.productList{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

h3 {
   text-align: left;
   margin: 1% 1%;
   color: #37474f;
   font-weight: 500;
   font-size: 27PX;
}

body{
   background-image: url(https://i.postimg.cc/htNv2Jfn/fondo.jpg);
}
